UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    modernize-*,
    readability-*,
    misc-*

WarningsAsErrors: "*"
SystemHeaders:   false

